<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/update/<%=users._id %>">
        <div class="form-group">
            <label> <b>User Name </b></label>
            <input type="text" name="name" class="form-control" value="<%=users.name %>">
        </div>

        <div class="form-group">
            <label> <b>User Place </b></label>
            <input type="text" name="place" class="form-control" value="<%=users.place %>">
        </div>

        <div class="form-group">
            <label> <b>Age </b></label>
            <input type="text" name="age" class="form-control" value="<%=users.age %>">
        </div>
        <input type="submit" name="update" value="Update" class="btn btn-success">
    </div>
    </form>
</body>
</html>